.linkActiveByPathContainer {
  position: relative;
  color: var(--secondary);

  &:hover {
    color: var(--foreground);

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      margin-top: 2px;
      height: 1px;
      border-top: 1px solid var(--foreground);
    }
  }
}

.active {
  color: var(--selected);

  &:hover {
    color: var(--selectedHover)
  }
}