.racketDescriptionContainer {
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  gap: var(--gapXXL);
}

.brand {
  color: var(--secondary);
}

.title {
  display: flex;
  gap: var(--gapMedium)
}

.name {
  font-size: 1.8rem;
}

.description {
  font-weight: 600;
}