.racketDescriptionContainer {
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  gap: var(--gapXXL);

  .brand {
    color: var(--secondary);
  }

  .name {
    font-size: 1.8rem;
  }

  .description {
    font-weight: 600;
  }
}