.headerNavigationContainer {
  .links {
    display: flex;
    gap: 0.8rem;

    .link {
      color: var(--secondary);

      &:hover {
        color: var(--foreground);
      }

      &.active {
        color: var(--selected);

        &:hover {
          color: var(--selectedHover)
        }
      }
    }
  }
}